{% extends 'activites/base.html' %}

{% block content %}
<section class="hero-body is-fullheight-with-navbar">
        <div class="card">
            <div class="columns">
                <div class="column is-8">
                    <div class="card-image">
                        <figure class="image is-2by1">
                            <img src="/static/activites/img/{{activite}}.jpg">
                        </figure>
                    </div>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        </div>
                        <div class="media-content">
                            <p class="title is-4">{{ activite }}</p>
                            <p class="subtitle is-6">Idéal en groupe</p>
                            <p>
                                Hopla am chambon voll schwanz, machs gut knack bredele dûû picon a hopla geiss
                                schneck bisame mes schlopp schnell, gross dû la hopla fleishwurcht. Scheni
                                geburtstàg tchao bissame. Bisame schissabibala heim Ponchour klein dû Huguette
                                hopla gal Chinette kartoffelsalad. Bett geburtstàg Furdenheim jetz grumbere
                                Yeeuuu fleishwurcht. Chinette wotch a cofee bett spatzles, salat bett schiss,
                                heim spatzles du rucksack geut scheni Sepala ech machs gut. Et hopla geiss voll
                                choucroute, Chinette gal munster, bisous gànz schneck, le schmutz net schmutz,
                                jetz Yeeuuu mer gross, hop schneck Flàmmeküeche, fraü choucroute Chulia Roberts,
                                dû knack mir Melfor. Fleishwurcht bredele met chenerator lorem elsass dûû
                                schneck hopla geiss la kartoffelsalad, sech bier elsassisch, bisous salat
                                grumbere la rossbolla bisame chenerator spatzles gal schissabibala leverwurscht
                                dûû Huguette la spatzles le schiss sürrkrut, picon bière la met bredele
                                gewurztraminer.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}